@page "/"

<PageTitle>Sobre Mim</PageTitle>
<hr>

<h1>Sophie Vincentin</h1>

<hr><b>Sobre mim</b>

<hr>Moro em Presidente Medici

<hr>Católica

<hr>Técnica em informática

<hr>Pretendo fazer faculdade em uma faculdade como a São Lucas

<hr>

<style>
  b {
    color: rgb(228, 86, 110);
  }

  hr {
    border: solid 2px rgb(255, 107, 107);
  }
</style>