@page "/"

<PageTitle>Sobre Mim</PageTitle>

<br>

<h1> <img src="imagens/rosa.jpg" alt="Rosa"> Sophie Vicentin <img src="imagens/rosa.jpg" alt="Rosa"> </h1>

<b>Sobre mim</b>

<hr>

<span>-</span> Moro em Presidente Medici

<hr> <span>-</span> Católica

<hr><span>-</span>Técnica em informática

<hr><span>- </span>Pretendo fazer Odontologia (ainda não decidi onde!!)

<hr>

