@page "/weather"
@attribute [StreamRendering]

<PageTitle>Sophie</PageTitle>

<br>

<h1> <img src="imagens/rosa.jpg" alt="Rosa"> Sophie Vicentin <img src="imagens/rosa.jpg" alt="Rosa"></h1>

<b>Curriculo</b>

<hr> <span>- </span> Técnica em Inormática no curso Técnico em Informática Integrado ao Médio

<hr><span>- </span> Ensino Fundamental I, II concluído em Presidente Médici - Rondônia

<hr><span>-</span> Futuro: Faculdade de Odontologia

<hr>
