@page "/weather"
@attribute [StreamRendering]

<PageTitle>Sophie</PageTitle>

<hr><h1>Sophie Vincentin</h1>

<hr><b>Curriculo</b>

<hr>Técnica em Inormática no curso Técnico em Informática Integrado ao Médio

<hr>Ensino Fundamental I, II concluído em Presidente Médici - Rondônia

<hr>Futuro: Faculdade

<hr>

<style>
  b {
    color: rgb(228, 86, 110);
  }

  hr {
    border: solid 2px rgb(255, 107, 107);
  }
</style>